@charset "UTF-8";
@import url("../test.html.css");
/* CSS Document */
h2 {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	color:dimgray;
	font-size: 10pt;
	
	}
body {
	width: 50%;
    margin: 80px;
	margin-right: 120px;
	margin-left: 120px;
	margin-bottom: 80px;
}
body {
    line-height: 1.2;
}
ul {
	background-color: beige; 
	background-size:auto;
}