@charset "UTF-8";
/* CSS Document */
body {
	  margin: 80px;
	  margin-top: 50px;
	  width: 40%;
}
	
body {background-image:url("../../clouds.jpeg")
}





h1 {padding-left: 20px;
font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
font-size: 30pt;
color:chocolate;
}





h4 {padding-left: 20px;
	padding-bottom: 15px;
color:saddlebrown;
font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
font-size: 20pt;
font-weight: 600;}


h2 {padding-left: 20px;
color:saddlebrown;
font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
font-size: 20pt;
font-weight: 600;}

h3 {padding-left: 20px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
font-size: 15pt;
color:saddlebrown;
font-weight: 600;}





a {color:peru;}